.container{
    display: flex;
    text-align: center;
    gap: 20px;
}
.team-info{
    width: 100px;
    height: 150px;
    background-color: rgba(127, 255, 212, 0.5);
    border: 1px solid skyblue;
    border-radius: 10px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-info > h4{
    margin: 0;
}

.imgContainer{
    border: 3px solid;
    border-color: black;
    width: 400px;
    text-align: center;
    padding: 10px;
}
button{
    width: 30px;
    height: 30px;
}