<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis-config.xml -> mybatis의 핵심 환경설정 파일(중요) -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- db접속정보가 들어있는 db.properties 파일 연결 -->
<properties resource="com/smhrd/database/db.properties"></properties>

<!-- Tpye별칭 : Mapper.xml에 parameterType,resultType을 지정할 때 별칭 설정 -->
<typeAliases>
	<typeAlias type="com.smhrd.model.Member" alias="member"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <!-- SQL문장을 작성할 mapper파일 연결 -->
  <mappers>
    <mapper resource="com/smhrd/database/MemberMapper.xml"/>
  </mappers>
</configuration>