<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<style>
	.table-container {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>SEQ_NUM</th>
				<th>ID</th>
				<th>NAME</th>
			</tr>
		</thead>
		<tbody>
			<td></td>
			<td></td>
			<td></td>
		</tbody>
	</table>
	<a th:href="@{/inputData}">입력하러가기</a>
</body>
</html>